In [1]:
import tensorflow as tf

In [2]:
tf.__version__

'2.9.1'

In [3]:
import pandas as pd 

data= pd.read_csv('car data.csv')

In [4]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
data.shape

(301, 9)

In [6]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
len(data['Car_Name'].unique())

98

In [8]:
data= data.drop(['Car_Name'], axis=1)

In [9]:
data['Year']= 2022- data['Year']

In [10]:
data= pd.get_dummies(data, drop_first= True)

In [11]:
from sklearn.model_selection import train_test_split
b_data= data.copy()

y= data.pop('Selling_Price')
X= data

In [12]:
X.head()

,Year,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,8,5.59,27000,0,0,1,0,1
1,9,9.54,43000,0,1,0,0,1
2,5,9.85,6900,0,0,1,0,1
3,11,4.15,5200,0,0,1,0,1
4,8,6.87,42450,0,1,0,0,1

In [13]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

X.shape

(301, 8)

In [20]:

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LeakyReLU, ELU, ReLU
from tensorflow.keras.layers import Dropout, BatchNormalization

EarlyStopping= tf.keras.callbacks.EarlyStopping(patience= 5, min_delta=0.01, restore_best_weights=True )

In [28]:
model= Sequential()
model.add(Dense(units= 8, activation= ReLU))
model.add(Dropout(0.3))
model.add(BatchNormalization())
model.add(Dense(units=7, activation= ReLU))
model.add(Dropout(0.3))
model.add(BatchNormalization())
model.add(Dense(units=6, activation=ReLU))
model.add(Dense(units=1))

In [23]:
model.compile(optimizer= 'adam',
             loss= 'mae',
             metrics=['accuracy'])

In [17]:
# to change learning rate

#optimizers= tf.keras.optimizers.Adam(learning_rate=0.01)

#then put into your compiler

In [24]:
import numpy as np 

X_train= tf.convert_to_tensor(X_train)
y_train= tf.convert_to_tensor(y_train)

early_stopping= tf.keras.callbacks.EarlyStopping(min_delta=0.01, patience= 10, )

model_history= model.fit(X_train, y_train, validation_split= 0.2, batch_size= 50,epochs= 1000, callbacks=early_stopping )

Epoch 1/1000

OperatorNotAllowedInGraphError: in user code:

    File "C:\Users\user\anaconda3\lib\site-packages\keras\engine\training.py", line 1051, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\user\anaconda3\lib\site-packages\keras\engine\training.py", line 1040, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\user\anaconda3\lib\site-packages\keras\engine\training.py", line 1030, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\user\anaconda3\lib\site-packages\keras\engine\training.py", line 889, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\user\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None

    OperatorNotAllowedInGraphError: Exception encountered when calling layer "dense_8" (type Dense).

    Using a symbolic `tf.Tensor` as a Python `bool` is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature.

    Call arguments received by layer "dense_8" (type Dense):
      • inputs=tf.Tensor(shape=(None, 8), dtype=float32)